body {
  background-image: url("bg10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
}

h1 {
  font-family: cursive;
  text-align: center;
  font-size: 82px;
  font-weight: bolder;
  color: orangered;
  margin-top: 0%;
}

#mole {
  position: absolute;
  left: 39%;
  top: 24%;
}
#mud {
  position: fixed;
  left: 30%;
  width: 500px;
  top: 44%;
}
#start {
  height: 70px;
  width: 180px;
  background-color: darkgreen;
  color: floralwhite;
  font-size: x-large;
  font-weight: bold;
  border: floralwhite solid 4px;
  border-radius: 32px;
  position: absolute;
  top: 85%;
  left: 43%;
  cursor: pointer;
}

.dirt {
  width: 170px;
  position: absolute;
  z-index: 1;
}
#dirt1 {
  top: 72%;
  left: 20%;
}
#dirt2 {
  top: 90%;
  left: 20%;
}
#dirt3 {
  top: 72%;
  left: 45%;
}
#dirt4 {
  top: 90%;
  left: 45%;
}
#dirt5 {
  top: 72%;
  left: 65%;
}
#dirt6 {
  top: 90%;
  left: 65%;
}
.points {
  font-size: x-large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}
.mole {
  position: absolute;
  height: 80px;
  width: 70px;
}
#mole1 {
  top: 64%;
  left: 23%;
}
#mole3 {
  top: 64%;
  left: 48%;
}
#mole5 {
  top: 64%;
  left: 68%;
}
#mole2 {
  top: 82%;
  left: 23%;
}
#mole4 {
  top: 82%;
  left: 48%;
}

#mole6 {
  top: 82%;
  left: 68%;
}
