* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 20vh;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  height: 100px;
  width: 100px;
  background-color: white;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  margin: 0px 10px;
  color: black;
  text-transform: uppercase;
  font-family: arial;
}

nav ul li a:hover {
  background-color: orange;
  color: white;
}
.banner {
  margin-top: 21vh;
  background-image: linear-gradient(to bottom right, rgb(55, 134, 55), skyblue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
}
